
.displayWorkouts{
  background:url(../../Photos/fitpadBackground.jpg) no-repeat center;
  background-size: cover;
}
.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 12px;
  margin-top: 13px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border-bottom: 2px solid RGB(59,93,128);
}

.link{
  font-family:'Montserrat', sans-serif; 
}