*{
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
}

/* .exercise-form{
  background:url(../Photos/fitpadBackground.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
} */

.exercise-form h1{
  text-align: center;
  color: black;
}

.border{
  width: 100px;
  height: 10px;
  background-color:RGB(150,112,137);
  margin: 40px auto;
}

.addExercise-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.form-text-normal{
  display: block;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background:	RGB(149 ,167 ,182);
  padding: 20px 20px 0px 0px;
  outline: none;
  color:#ddd ;
  transition: 0.5s;
}
.form-text{
  display: block;
  align-items: center;
  /* width: 100%; */
  overflow: hidden;
  box-sizing: border-box;
  margin: 16px 0;
  margin-right: auto;
  background:	RGB(149 ,167 ,182);
  /* padding: 20px 20px 0px 0px; */
  color:#ddd ;
  transition: 0.5s;
}
.form-text:focus{
  box-shadow:0 0 10px 4px RGB(150,112,137) ;
}

.label-forms{
  padding: 10px;
}

.input-num{
  border: 2px solid #aaaaaa;
  border-radius: 5px;
}


textarea.form-text-normal{
  resize: none;
  height: 120px;
  padding: 50px 65px;
  border-radius: 5px;
 
}

.muscleSelect {

  width: 250px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  box-shadow:  0 5px 25px rgba(0,0,0,.5);
  -webkit-appearance: button;
  outline: none;
}

.dropDown {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px ;
  align-items: center;
}

.set-form-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px ;
  border: 0;
  background-color: #ddd;
  border-radius: 15px;
}
.log-set-form-btn {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px ;
  border: 0;
  background-color: #ddd;
  border-radius: 15px;
}
.form-btn{
  float: right;
  border: 0;
  background-color: #ddd;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.form-btn:hover{
  background-color:RGB(176,136,145) ;
}

.numberInputs {
  max-width: 400px;
  margin: auto; 
  height:75px;
  display: flex;
  align-items: center;
  /* align-content: center; */
  /* justify-content: center; */
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 

  textarea.form-text-normal{
    resize: none;
    height: 120px;
    padding: 50px 65px;
    border-radius: 5px;
   
  }
  .form-btn{
    float: right;
    border: 0;
    background-color: #ddd;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .form-text-normal{
    display: block;
    /* width: 100%; */
    overflow: hidden;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background:	RGB(149 ,167 ,182);
    padding: 20px 20px 0px 0px;
    outline: none;
    color:#ddd ;
    transition: 0.5s;
  }
  .form-text{
    display: block;
    align-items: center;
    /* width: 100%; */
    overflow: hidden;
    box-sizing: border-box;
    margin: 16px 0;
    margin-right: auto;
    background:	RGB(149 ,167 ,182);
    /* padding: 20px 20px 0px 0px; */
    color:#ddd ;
    transition: 0.5s;
  }
}