#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
}
h2 {
  border-bottom: 2px #ed213a;
  color: #fff;
}

.border{
  width: 100px;
  height: 10px;
  margin: 40px auto;
}
.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-controller {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  visibility: visible;
  display: flex;
  max-width: 600px;
  min-width: 250px;
  height: 35px;
  box-shadow:0 0 10px 4px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
  padding-left: 10px;
  padding-right: 10px;
}
.controller {
  flex: 3;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
  width: auto;
}

/* Currently Selected Controller */
div .controllerselected-controller {
  overflow: hidden;
  position: relative;
  width: auto; 
  transition: border 0.5s ease-out;
  border-bottom: 2px solid #ed213a;
}

.box-container {
  padding: 0 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  background: rgba(0, 0, 0, .8);
  padding-top: 10px;
}
.inner-container {
  transition: visibility 0.2s ease-out;
  padding-bottom: 15px;
}
.inner-container.show {
  visibility: visible;
}
.btn-container-lp {
  text-align: center;
}

.landing-form-text {
  background:	#fff;
  padding: 20px 40px;
  outline: none;
  color: black ;
  transition: 0.5s;
}

.landing-form-text:focus {
  box-shadow:0 0 5px 4px #ed213a;
}

 .form-btns {
  float: right;
  border: 0;
  background-color: #ed213a;
  padding: 12px 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
  text-align: center;
}

.form-btns:hover{
  background-color:black;
  color: #fff;
}

div.fitpad-desc {
  margin-left: 25%;
  margin-right: 25%;
}
.root-container p {
  text-align: justify;
  color: #fff;
  text-indent: 2em;
  font-style: italic;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px)  {
  .box-container {
    margin: auto;
    padding-bottom: 20px;
  }
}