
.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 12px;
  margin-top: 13px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 22px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-form-text {
  display: block;
  width: auto;
  margin: 16px 0;
  border: 0;
  background:	RGB(149 ,167 ,182);
  padding: 20px 40px;
  outline: none;
  color:#fff ;
  transition: 0.5s;
  border-radius: 6px;
}

.loginForm {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
  
  box-shadow:0 0 10px 4px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
}
.form-btns {
  margin-bottom: 12px;
}
.inner-container {
  transition: visibility 0.2s ease-out;
}

.inner-container.show {
  visibility: visible;
}
