h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
}

p {
  text-align: center;
  font-family:'Montserrat', sans-serif;
}

.btn {
  order: 1px solid #aaa;
  background-color: #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}