@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, #root, .App, .App_main {
  height: 100%;
  background: #ed213a;
  background: -webkit-linear-gradient(to right, #ed213a, #93291e); 
  background: linear-gradient(to right, #ed213a, #93291e);
  background-size: cover;
}

h1,h2,h3,h4,h5 {
  font-family: 'Bebas Neue', cursive;
}

p, ul, li, a {
  font-family: 'Open Sans', sans-serif;
}
