/* .Input,
.Textarea {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family:'Montserrat', sans-serif;
}  

  .Input::placeholder,
.Textarea::placeholder {
  font-family:'Montserrat', sans-serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Textarea {
  resize: vertical;
  font-family:'Montserrat', sans-serif;
}

.Button {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.Required {
  color: #CA1551;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
}

.Section {
  margin-left: 20px;
  margin-right: 20px;
}
.Section--list {
  margin-left: 10px;
  margin-right: 10px;
}

label {
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

h2 {
  font-family: 'Pacifico', cursive;
}

 */
